.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.description {
}

.animationContainer {
  width: 700px;
  height: 700px;
  overflow: hidden;
}
